.main-container {
  max-width: 1200px;
  margin: 0 auto; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch; }

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth; }

body {
  background-color: #171925; }

main {
  width: 100%;
  height: auto;
  background-color: #171925; }

header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  min-width: 300px;
  height: 334px;
  background-image: url(../images/background-header.jpg);
  background-size: cover;
  background-position: center center; }

footer {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: #f7931a; }

a {
  text-decoration: none;
  color: #fff; }

ul {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  list-style: none; }

li {
  margin: 10px 0; }

header a {
  align-self: center; }

header .logo img {
  width: 140px;
  margin-top: 45px; }

header .container {
  position: absolute;
  left: calc(50% - 150px);
  top: 260px;
  display: block;
  margin: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff; }
  header .container span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("../images/down-arrow.svg"); }
  header .container .click {
    font-size: 1.4rem;
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 5px;
    background-color: #f7931a; }
  header .container .list {
    position: absolute;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s; }
    header .container .list .links {
      background-color: #2D3047; }
      header .container .list .links:hover {
        background-color: #f7931a;
        transform: scale(1.1); }
  header .container .click, header .container .links {
    padding: 15px;
    font-size: 1.4rem;
    font-weight: bold;
    border: none;
    outline: none;
    width: 215px;
    color: #fff;
    transition: 0.3s; }
  header .container .newlist {
    transform: scaleY(1); }

@media screen and (min-width: 525px) {
  header {
    height: 360px; }
    header .container {
      top: 285px; } }

@media screen and (min-width: 769px) {
  header {
    height: 450px; }
    header .container {
      top: 375px; } }

@media screen and (min-width: 1025px) {
  header {
    margin-top: 20px;
    border-radius: 10px; }
    header .container {
      top: 395px; } }

footer section {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center; }

footer img {
  width: 100px; }

.main-bookly-container {
  width: 100%;
  height: auto;
  padding-top: 70px;
  padding-bottom: 30px;
  text-align: center; }
  .main-bookly-container__title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto; }
  .main-bookly-container h1 {
    width: 300px;
    margin-bottom: 30px;
    margin-left: 24px;
    text-align: start;
    font-size: 4.8rem;
    font-weight: bold;
    line-height: 6rem;
    color: #faf8f7; }
  .main-bookly-container p {
    margin-left: 24px;
    margin-bottom: 30px;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: start;
    line-height: 2.2rem;
    color: #f7931a; }

.bookly-img-container {
  width: 100%;
  min-width: 320px;
  height: 50vh;
  background-image: url("../images/library.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center; }
  .bookly-img-container h2 {
    width: 200px;
    padding-top: 38px;
    margin-left: 30px;
    font-size: 4.8rem;
    font-weight: bold;
    line-height: 6rem;
    color: #fff;
    text-align: start; }

.main-opinion-detail {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: #171925; }
  .main-opinion-detail__logo-top {
    position: absolute;
    width: 50px;
    height: 30px;
    top: -15px;
    left: calc(50% - 10px);
    transform: rotate(-15deg);
    background-image: url("../images/icon.svg");
    background-repeat: no-repeat; }
  .main-opinion-detail__title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center; }
    .main-opinion-detail__title h2 {
      margin-bottom: 20px;
      font-size: 2.4rem;
      font-weight: bold;
      line-height: 2.6rem;
      color: #fff; }
    .main-opinion-detail__title p {
      margin-bottom: 20px;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.8rem;
      color: #d4d4d4; }
  .main-opinion-detail .opinion-cards-container .opinion-card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: #2D3047;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16); }
    .main-opinion-detail .opinion-cards-container .opinion-card__icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-bottom: 10px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
      .main-opinion-detail .opinion-cards-container .opinion-card__icon--clock {
        background-image: url("../images/clock.svg"); }
      .main-opinion-detail .opinion-cards-container .opinion-card__icon--eye {
        background-image: url("../images/eye.svg"); }
      .main-opinion-detail .opinion-cards-container .opinion-card__icon--dollar-sign {
        background-image: url("../images/dollar-sign.svg"); }
      .main-opinion-detail .opinion-cards-container .opinion-card__icon--check-circle {
        background-image: url("../images/check-circle.svg"); }
    .main-opinion-detail .opinion-cards-container .opinion-card__title {
      margin-bottom: 15px;
      font-size: 1.8rem;
      font-weight: bold;
      line-height: 1.8rem;
      color: #fff; }
    .main-opinion-detail .opinion-cards-container .opinion-card__body {
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.8rem;
      color: #d4d4d4; }

.main-plans-container {
  width: 100%;
  min-width: 320px;
  padding-bottom: 70px;
  text-align: center; }
  .main-plans-container__title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto; }
    .main-plans-container__title h2 {
      padding-top: 50px;
      font-size: 2.4rem;
      font-weight: bold;
      line-height: 2.6rem;
      color: #faf8f7; }
    .main-plans-container__title p {
      padding-top: 30px;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.8rem;
      color: #f7931a; }
  .main-plans-container .plans-container-slider {
    display: flex;
    gap: 20px;
    padding: 0 20px;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */ }
    .main-plans-container .plans-container-slider::-webkit-scrollbar {
      display: none; }
    .main-plans-container .plans-container-slider .plan-card {
      position: relative;
      scroll-snap-align: center;
      width: 70%;
      min-width: 190px;
      max-width: 300px;
      height: 250px;
      margin: 50px auto 0;
      padding: 0 15px;
      background-color: #fff;
      border-radius: 15px;
      box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16); }
      .main-plans-container .plans-container-slider .plan-card__recomended {
        position: absolute;
        width: 120px;
        height: 30px;
        padding: 6px;
        left: calc(50% - 60px);
        top: -15px;
        font-size: 1.2rem;
        background-color: #f7931a;
        border-radius: 8px;
        color: #fff; }
      .main-plans-container .plans-container-slider .plan-card__title {
        padding-top: 30px;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.8rem;
        color: black; }
      .main-plans-container .plans-container-slider .plan-card__price {
        padding: 5px 0;
        font-size: 5.2rem;
        font-weight: bold;
        color: black; }
        .main-plans-container .plans-container-slider .plan-card__price span {
          font-size: 1.2rem;
          font-family: 300;
          vertical-align: 25px; }
      .main-plans-container .plans-container-slider .plan-card__saving {
        font-size: 1.2rem;
        color: #757575; }
      .main-plans-container .plans-container-slider .plan-card__ca {
        width: 150px;
        height: 48px;
        margin-top: 20px;
        background-color: #faf8f7;
        border: 2px solid #f7931a;
        border-radius: 4px;
        font-family: "DM Sans", sans-serif;
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 1.8rem;
        color: #2D3047; }
        .main-plans-container .plans-container-slider .plan-card__ca span {
          display: inline-block;
          width: 20px;
          height: 20px;
          background-image: url("../images/orange-right-arrow.svg");
          vertical-align: text-bottom; }

@media screen and (min-width: 769px) {
  .bookly-img-container {
    display: flex; } }

@media screen and (min-width: 1025px) {
  .bookly-img-container {
    border-radius: 10px; }
  .main-bookly-container__title {
    width: 100%;
    margin-left: 0; }
  .opinion-cards-container {
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    height: 500px;
    margin: 0 auto; } }

figure {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 387px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden; }
  figure:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
    figure:hover img {
      transform: scale(1.25); }
    figure:hover figcaption {
      bottom: 0; }
  figure h1 {
    position: absolute;
    top: 50px;
    left: 20px;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 30px;
    font-weight: 100;
    line-height: 1; }
  figure img {
    height: 100%;
    transition: 0.25s; }
  figure figcaption {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 20px 30px 40px;
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    color: #fff;
    line-height: 1;
    transition: 0.25s; }
    figure figcaption h3 {
      margin: 0 0 20px;
      padding: 0; }
    figure figcaption p {
      font-size: 14px;
      line-height: 1.75; }
    figure figcaption button {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px 0 0;
      padding: 10px 30px;
      background-color: #f7931a;
      border: none;
      border-radius: 5px;
      color: #fff;
      font-size: 14px; }

.parent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 60px; }
