/*
1. Posicionamiento
2. Modelo de caja (Box Model)
3. Tipografía
4. Visuales (shadows, radius)
5. Otros
*/
:root {
    /*colores*/
    --bookly-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --seconday-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #171925;
    --black: #2D3047;
    --grey: #d4d4d4;
    --off-white: #faf8f7;
    --just-white: #fff;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
    scroll-behavior: smooth;
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 300px;
    height: 334px;
    background-image: url(/assets/images/background-header.jpg);
    background-size: cover;
    background-position: center center;
}
header a {
    align-self: center;
}
header .logo img{
    width: 140px;
    margin-top: 60px;
}
.header__title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}
.header__title-container .header__button {
    position: absolute;
    left: calc(50% - 150px);
    top: 270px;
    display: block;
    margin: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color:var(--bookly-orange);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--just-white); 
}
.header__title-container span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('/assets/images/down-arrow.svg');
}
main {
    width: 100%;
    height: auto;
    background-color: var(--warm-black);
}
.main-bookly-container {
    width: 100%;
    height: auto;
    padding-top: 70px;
    padding-bottom: 30px;
    text-align: center;
}
.main-bookly-container__title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main-bookly-container h1 {
    width: 40%;
    margin-bottom: 30px;
    margin-left: 24px ;
    font-size: 4.8rem;
    font-weight: bold;
    line-height: 6rem;
    color: var(--off-white);
}
.main-bookly-container p {
    margin-left: 24px;
    margin-bottom: 30px;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: start;
    line-height: 1.8rem;
    color: var(--bookly-orange);
}
.main-opinion-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}
.opinion-detail__logo-top {
    position: absolute;
    width: 50px;
    height: 30px;
    top: -15px;
    left: calc(50% - 10px);
    transform: rotate(-15deg);
    background-image: url("/assets/images/icon.svg");
    background-repeat: no-repeat;
}
.opinion-detail__logo-bottom {
    position: absolute;
    width: 50px;
    height: 30px;
    top: 680px;
    left: calc(50% - 10px);
    transform: rotate(-15deg);
    background-image: url("/assets/images/icon.svg");
    background-repeat: no-repeat;
}
.opinion-detail__title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.opinion-detail__title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.opinion-detail__title p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--grey);
}
.opinion-card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.opinion-card__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.opinion-card__icon--clock {
    background-image: url("/assets/images/clock.svg");
}
.opinion-card__icon--eye {
    background-image: url("/assets/images/eye.svg");
}
.opinion-card__icon--dollar-sign {
    background-image: url("/assets/images/dollar-sign.svg");
}
.opinion-card__icon--check-circle {
    background-image: url("/assets/images/check-circle.svg");
}
.opinion-card__title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.opinion-card__body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--grey);
}
.bookly-img-container {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url("/assets/images/library.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.bookly-img-container h2 {
    padding-top: 38px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.main-plans-container {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}
.main-plans-container__title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
}
.main-plans-container__title h2 {
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--off-white);
}
.main-plans-container__title p {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--bookly-orange);
}
.plans-container-slider {
    display: flex;
    gap: 20px;
    padding: 0 20px;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.plan-card {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 50px auto 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}
.plan-card__recomended {
    position: absolute;
    width: 120px;
    height: 30px;
    padding: 6px;
    left: calc(50% - 60px);
    top: -15px;
    font-size: 1.2rem;
    background-color: var(--bookly-orange);
    border-radius: 8px;
    color: var(--just-white);
}
.plan-card__title {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
}
.plan-card__price {
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    color: black;    
}
.plan-card__price span {
    font-size: 1.2rem;
    font-family: 300;
    vertical-align: 25px;
}
.plan-card__saving {
    font-size: 1.2rem;
    color: #757575;
}
.plan-card__ca {
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: var(--off-white);
    border: 2px solid var(--bookly-orange);
    border-radius: 4px;
    font-family: "DM Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
}
.plan-card__ca span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("/assets/images/orange-right-arrow.svg");
    vertical-align: text-bottom;
}
footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bookly-orange);
}
footer section {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
footer .left ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}
.left li {
    margin: 10px 0;
}
.left a {
    text-decoration: none;
    color: var(--just-white);
}
footer img {
    width: 100px;
}